
.centered-cell {
    display: block;
    text-align: center;
    width: 100%;
  }
  
  th, td {
    text-align: center !important;
    vertical-align: middle;
  }
  
  .col7 {
    text-align: center;
  }
  

  