.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.forgot-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #161D20;
  opacity: 0.8;
}

.forgot-box {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.forgot-box h2 {
  margin-bottom: 10px;
}

.info-text {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 20px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
  flex-direction: column;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: medium;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.reset-btn {
  width: 100%;
  background-color: #d3f1ee;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.reset-btn:hover {
  background-color: #b8e4e0;
}

.back-login {
  margin-top: 15px;
  font-size: 0.9rem;
  color: gray;
}

.back-login a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.back-login a:hover {
  text-decoration: underline;
}

