.home-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  ;
}

.home-content {
  display: flex;
  flex: 1;
  position: relative;
}

.left-section {
  width: 85%;
  background-color: #161D20;
}

.right-section {
  width: 15%;
  background-color: white;
}

@keyframes slideIn {
  from {
    left: 60%;
  }

  to {
    right: 75%;
  }
}

.car-img {
  position: absolute;
  width: 60%;
  max-width: 800px;
  left: 42%;
  top: 50%;
  padding-left: 0;
  transform: translateY(-50%);
  animation: slideIn 2s ease-out;
  /* Apply the animation */
}

.heading {
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-left: 130px;
  margin-right: 500px;
  margin-top: 100px;
  text-align: left;

}

.description {
  color: white;
  margin-left: 130px;
  margin-right: 550px;
  margin-top: 50px;
  text-align: justify;
  font-size: 18px;
}

.btn {
  margin-left: 130px;
  margin-top: 30px;
}