/* Container */
.signup-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  /* Left Section */
  .signup-left {
    width: 45%;
    background-color: #161D20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .signup-left h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  .signup-left p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .car-image {
    width: 1000px;
    /* max-width: 450px; */
    margin-left: 500px;
  }
  
  /* Right Section */
  .signup-right {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161D20;
    padding: 20px;
  }
  
  .signup-box {
    width: 90%;
    max-width: 650px;
    text-align: center;
    background-color: white;
    height: 650px; 
    border-radius: 15px; 
  
  }
  
  .signup-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .name-fields {
    display: flex;
    gap: 10px;
  }
  
  .name-fields input {
    flex: 1;
  }
  
  input {
    width: 95%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .password-info {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 10px;
  }
  
  .signup-btn {
    background-color: #d3f1ee;
    color: #333;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    margin: 10px auto;
    display: block;
    
  }
  
  .signup-btn:hover {
    background-color: #b0e5e0;
  }
  
  .login-text {
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  .login-text a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }

  
  